@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
	--color-background-alt: #C8180C
}

body {
	color: var(--color-white);
	background-color: var(--color-black)
}
