@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Thin.woff2');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-ThinItalic.woff2');
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Light.woff2');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-LightItalic.woff2');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-ExtraLight.woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-ExtraLightItalic.woff2');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Regular.woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Italic.woff2');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Medium.woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-MediumItalic.woff2');
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-SemiBold.woff2');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-SemiBoldItalic.woff2');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Bold.woff2');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-BoldItalic.woff2');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-ExtraBold.woff2');
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-ExtraBoldItalic.woff2');
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-Black.woff2');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/inter/Inter-BlackItalic.woff2');
	font-style: italic;
	font-weight: 900;
}

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
	--color-background-alt: #C8180C
}

body {
	color: var(--color-white);
	background-color: var(--color-black)
}